body{
    background: rgb(30, 28, 28);
}

.bg-black {
    background: #000;
}

.card-project:hover {
    border: 1px solid #fff;
    cursor: pointer;
}

.card-body h2, .card-body p {
    color: #fff;
}

.profile__social{
    display: flex;
    justify-content: center;
    column-gap: 3rem;
  }

  .profile__social-link{
    font-size: 1.25rem;
    color: var(--title-color);
    transition: .3s;
  }
  
  .profile__social-link:hover{
    color: var(--first-color);
  }

  
  .footer__copy{ 
    display: block; 
    margin: 2.5rem 0 2rem; 
    text-align: center; 
    font-size: var(--smaller-font-size); 
    color: white; 
}

@media only screen and (max-width: 768px) {
  .skill-item {
    width: 45%;
  }
}


@media (max-width: 768px) {
  .navbar-collapse {
    position: fixed;
    top: 56px;
    left: 0;
    width: 100%;
    height: calc(100% - 56px);
    padding: 20px;
    background-color: #000;
    z-index: 1;
  }
  .navbar-nav {
    flex-direction: column;
  }
  .navbar-nav .nav-item {
    margin-bottom: 10px;
  }
  .nav-link {
    color: #fff !important;
  }
 
}